body {
margin:0;
padding:0;
background:#fff repeat-x;
font-weight:normal;
font-family:helvetica;
color:#666;
}
p {
font-size:11pt;
}
ul {
font-size:11pt;
}
a {
color:#000;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
h1 {
margin:0;
padding:13px 0 24px 50px;
font-size:24pt;
background:url('../images/OpenEmulator48.png') no-repeat -4px 7px;
color:#000;
}
h2 {
margin:0;
padding:8px 0 0 0;
font-size:18pt;
color:#000;
}
h3 {
margin:0;
padding:0;
font-size:12pt;
color:#000;
}
.container {
width:800px;
margin:0 auto;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
text-align:center;
}
.menu {
float:right;
list-style:none;
margin:0;
padding:0;
}
.menu li {
margin:0px;
padding:30px 12px 12px 12px;
float:left;
font-size:14px;
}
.menu li.sel {
background-color:#d0d4d7;
}
.sidebar {
width:260px;
margin:0;
padding:0;
float:left
}
.download {
margin:16px 0 32px 0;
padding:16px 16px 16px 16px;
background-color:#606366;
border:#606366;
border-radius: 15px;
color:#fff;
font-size:10pt;
}
.download a {
color:#fff;
}
.downloadSubtitle {
margin:0;
padding:0 0 4px 0;
}
.downloadTitle {
margin:0;
padding:0 0 20px 0;
font-size:18pt;
}
.downloadMac {
height:32px;
margin:0 0 0 0;
padding:0 0 16px 40px;
background-image:url('../images/mac.png');
background-repeat:no-repeat;
vertical-align:middle;
}
.downloadOlder {
height:32px;
margin:0 0 0 0;
padding:6px 0 0 40px;
background-image:url('../images/previous.png');
background-repeat:no-repeat;
vertical-align:middle;
}
.main {
margin:0 0 0 286px;
padding:5px 0 0 0;
}
.footer {
margin:32px 0 0 0;
padding:16px 0 16px 0;
border-top:#ccc solid 1px;
text-align:center;
font-size:9pt;
}
.ad {
height:90px;
}
.col1 {
float:left;
width:250px;
}
.col2 {
}